---
import type { Lang } from '../../../i18n/config.i18n';
import content from '../../../data/site-home-content.json';
import { TreePalm  } from 'lucide-astro'

interface Props {
    lang: Lang;
}

const { lang } = Astro.props;

const data = content[lang].categories;
---

<section id="categories" class="w-full flex-col justify-center px-5 py-20 bg-gray-cancun">
    
    <header class="text-center flex justify-center items-start">
        <h2 class="font-bold text-4xl text-center">{data.title}</h2>
    </header>

    <article class="w-full mt-10">
        <div class="relative grid grid-cols-1 md:grid-cols-2 gap-10 justify-center items-center p-2 xl:p-20 ">
            {
                data.categories.map((category, index) => {
                    return (
                        <a
                            href={`/${lang}/${category.slug}`}
                            data-aos="fade-up"
                            data-aos-delay={200 + index * 100}
                            class={`group flex flex-col items-center text-center  border w-full h-auto border-white-cancun rounded-3xl  hover:shadow-2xs cursor-pointer transition-all duration-500 `}
                        >              
                            <img src={category.img} class="rounded-3xl hover:scale-101 transition-all" alt={category.title}>
                            <div class="absolute bottom-0 bg-gray-cancun/75 p-3 rounded-b-3xl w-full">
                                <h3 class="font-semibold text-xl mb-2">{category.title}</h3>
                                <p class="text-gray-500">{category.description}</p>
                            </div>
                        </a>
                    )
                })
            }
        </div>
    </article>

</section>

