---
import type { Lang } from '../../../i18n/config.i18n';
import content from '../../../data/site-home-content.json';
import PlacesComponent ,{ type Place } from '../../common/Places.astro';

interface Props {
    lang: Lang;
    places: Place[] | null;
}

const lang = Astro.props.lang as Lang
const places = Astro.props.places as Place[]

const data = content[lang].places;
---

<section id="places" class="w-full flex-col justify-center px-5 py-20 bg-gray-cancun">

    <PlacesComponent title={data.title} placeholder={data.form.inputs.search.placeholder} textButton={data.form.buttonAccion.label} description={data.description} places={places} />

</section>
