---
import Layout from '../../layouts/Layout.astro';
import content from '../../data/site-home-content.json';
import type { Lang } from '../../i18n/config.i18n';
import Hero from '../../components/home/sections/Hero.astro';
import Skills from '../../components/home/sections/Skills.astro';
import Banner from '../../components/home/sections/Banner.astro';
import AboutKoko from '../../components/home/sections/AboutKoko.astro';

const lang = Astro.params.lang as Lang;
const data = content[lang];

if (!(lang in content)) {
    return Astro.redirect('/404');
}
import 'aos/dist/aos.css';
import Categories from '../../components/home/sections/Categories.astro';
import Reviews from '../../components/home/sections/Reviews.astro';
import { actions } from 'astro:actions';
import Places from '../../components/home/sections/Places.astro';

const { data: reviews, error: errorReviews } = await Astro.callAction(actions.getReviews, {});
const { data: places, error: errorPlaces } = await Astro.callAction(actions.getPlaces, {});
---

<Layout title={data.brandName} lang={lang}>

    <Hero lang={lang} />
    <Skills lang={lang} />
    <Banner />
    <AboutKoko lang={lang} />
    <Categories lang={lang} />
    <Reviews lang={lang} reviews={reviews?.data || null} />
    <Places lang={lang} places={places?.data || null} />
    <div class="min-h-screen flex flex-col items-center justify-center relative p-6">
        
        <div class="relative group mb-20">
            <div class="absolute inset-0 bg-gradient-to-r from-[#21D4ED] to-[#AF25FD] blur-2xl opacity-30 group-hover:opacity-50 transition-opacity duration-500 rounded-full"></div>
            <img 
                src="/logo_cancun.png" 
                alt="Logo Flotante" 
                class="relative w-48 h-48 md:w-64 md:h-64 object-contain animate-float"
            />
            <div class="absolute -bottom-8 left-1/2 -translate-x-1/2 w-3/4 h-4 bg-black/40 blur-md rounded-full animate-shadow"></div>
        </div>
        <h1 class="text-gray-400 text-center">
            ® Cancun Drink
        </h1>
    </main>
</Layout>


<script>
    import AOS from 'aos';
    
    AOS.init({
        duration: 800,
        once: true,
        offset: 100,
    });
    
</script>