---
import type { Lang } from '../../i18n/config.i18n';
import { ui } from "../../i18n/ui.i18n";
import { getLangFromUrl, useTranslations } from '../../i18n/utils.i18n';
import { Globe } from 'lucide-astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentPath = Astro.url.pathname;
const switchLangPath =
  lang === "es"
    ? currentPath.replace("/es", "/en")
    : currentPath.replace("/en", "/es");
---

<nav class="absolute top-0 z-50 w-full px-6 py-4 bg-white-cancun  backdrop-blur-md border-b border-gray-100">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    
    <a href={`/${lang}/`} class="flex items-center gap-2 transition hover:opacity-80">
      <img src="/logo_cancun.png" class="w-auto h-10 object-contain" alt="Logo del sitio" />
    </a>

    <div class="flex items-center gap-6 sm:gap-8">
      
      <ul class="flex items-center gap-6 text-sm font-medium text-gray-600">
        <li>
          <a href={`/${lang}/`} class="hover:text-blue-600 transition-colors">
            {t.nav.home}
          </a>
        </li>
        <li>
          <a href={`/${lang}/#about`} class="hover:text-blue-600 transition-colors">
            {t.nav.about}
          </a>
        </li>
      </ul>

      <div class="hidden sm:block w-px h-5 bg-gray-200"></div>

      <a
        href={switchLangPath}
        class="flex items-center justify-center px-3 py-1.5 text-xs sm:text-sm  text-green-cancun bg-transparent rounded-full hover:text-green-cancun/75 transition-all active:scale-95"
        title={lang === "es" ? "Switch to English" : "Cambiar a Español"}
      >
          <Globe class="w-4 h-4 mr-1" />
          {lang === "es" ? "EN" : "ES"}
      </a>

    </div>
  </div>
</nav>